doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/static/styles.css")
        title 이루진스
    body 
        section.sec01
            div.sec01__header
                div.sec01__header__left 
                div.sec01__header__content.shc
                    div.shc__top 
                        article 로그아웃
                        article |
                        article 마이페이지
                    ul.shc__bottom 
                        li.sch__bottom__first 
                        li.sch__bottom__menu.category 카테고리
                            div.menu__hover__box
                                p 이루진스 소개
                                p 추천상품
                                p 함께하는 브랜드
                        li.sch__bottom__menu 장뇌삼
                        li.sch__bottom__menu 다이어트
                        li.sch__bottom__menu 선물세트
                        li.sch__bottom__menu 입점문의
                        li.sch__bottom__menu.csc 고객센터
                            div.menu__hover__box2 
                                p 자주하는 질문
                                p 이밴트
                                p 1:1 문의
                                p 배송 문의
                        li 8
                div.sec01__header__right 
        
        section.sec02 
            div.sec02__top
                h3 금주의 추천상품
            div.sec02__bottom
                div.sec02__bottom__box
                    img(src="https://4leaf-s3.s3.ap-northeast-2.amazonaws.com/irugins/original/1638519990431_%E1%84%8C%E1%85%A6%E1%84%86%E1%85%A9%E1%86%A8-%E1%84%8B%E1%85%A5%E1%86%B9%E1%84%8B%E1%85%B3%E1%86%B7-1.png")
                    p 상품이름과 상품금액
                div.sec02__bottom__box
                    img(src="https://4leaf-s3.s3.ap-northeast-2.amazonaws.com/irugins/original/1638519990431_%E1%84%8C%E1%85%A6%E1%84%86%E1%85%A9%E1%86%A8-%E1%84%8B%E1%85%A5%E1%86%B9%E1%84%8B%E1%85%B3%E1%86%B7-1.png")
                    p 상품이름과 상품금액
                div.sec02__bottom__box
                    img(src="https://4leaf-s3.s3.ap-northeast-2.amazonaws.com/irugins/original/1638519990431_%E1%84%8C%E1%85%A6%E1%84%86%E1%85%A9%E1%86%A8-%E1%84%8B%E1%85%A5%E1%86%B9%E1%84%8B%E1%85%B3%E1%86%B7-1.png")
                    p 상품이름과 상품금액
                div.sec02__bottom__box
                    img(src="https://4leaf-s3.s3.ap-northeast-2.amazonaws.com/irugins/original/1638519990431_%E1%84%8C%E1%85%A6%E1%84%86%E1%85%A9%E1%86%A8-%E1%84%8B%E1%85%A5%E1%86%B9%E1%84%8B%E1%85%B3%E1%86%B7-1.png")
                    p 상품이름과 상품금액
        
        section.sec03 
            div.sec03__left
            div.sec03__right

        section.sec02 
            div.sec02__top
            div.sec02__bottom
                div.sec02__bottom__box
                div.sec02__bottom__box
                div.sec02__bottom__box
                div.sec02__bottom__box
        
        section.sec03 
            div.sec03__left
            div.sec03__right

        section.sec02 
            div.sec02__top
            div.sec02__bottom
                div.sec02__bottom__box
                div.sec02__bottom__box
                div.sec02__bottom__box
                div.sec02__bottom__box
